.wrapper {
  width: 450px;

  h3 {
    font-size: 1.6rem;
  }

  form {
    margin-top: 10px;
  }

  .tpfield {
    height: 50px;
    max-width: 100%;
    border: 1px solid gray;
    margin: 5px 0;
    padding: 5px;
  }

  button {
    width: 100%;
    margin-top: 20px;
  }
}
