.share-form {
  position: relative;
  top: 20px;

  &-subtitle {
    color: #555;
    font-size: 1.2rem;
  }


  &-buttons {
    display: flex;
    justify-content: space-between;
    margin: 50px 5px 0;
  }

  &-button {
    display: flex;
    justify-content: flex-end;
    margin: 50px 5px 0;
  }
}



