.confirmation {
  &-card {
    max-width: 500px;
    padding: 20px;
    border: 2px solid #aaa;
    border-radius: 12px;
    margin-top: 20px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.2);
  }

  &-card-title {
    width: fit-content;
    margin: 0 auto;
    font-size: 1.6rem;
    font-weight: 600;
  }

  &-card-content {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 20px;

    > div {
      display: flex;
      justify-content: flex-start;
    }

    p {
      flex-basis: 30%;
      font-weight: 500;
    }

    li + li {
      margin-top: 10px;
    }
  }
}
